@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* body::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
} */

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(24, 162, 74);
}

.style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}

.style-2::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

.style-2::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(24, 162, 74);
}

.swiper-pagination-bullet-active {
  background-color: #16a34a !important;
}

.style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #ffffff;
}

.style-3::-webkit-scrollbar {
  width: 2px;
  background-color: #ffffff;
}

.style-3::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(24, 162, 74);
}

#svgBg {
  background-color: #F9F9F9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%2316A34A' stroke-width='24.4' stroke-opacity='0.12' %3E%3Ccircle fill='%23F9F9F9' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23F9F9F9' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
